@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Forum&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --header-size: 120px;
  --scrollbar-height: 2px;
  --scrollbar-bg: #fdf7e4;
  --scrollbar-progress-color: #ca2078;
}

body {
  height: 11000px;
  font-family: "Ephesis";
  background-color: rgb(50, 165, 161);
  background: linear-gradient(
    to right top,
    var(--scrollbar-progress-color) 50%,
    var(--scrollbar-bg) 50%
  );
  background-size: 100%
    calc(100% - 100vh + var(--header-size) + var(--scrollbar-height));
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

body::before {
  content: "";
  position: fixed;
  top: calc(var(--header-size) + var(--scrollbar-height));
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: #fdf7e4;
}

/* navbar section */

header {
  position: fixed;
  background-color: #faeed1;
  width: 100%;
  height: 120px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #403f3d;
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
}

.navbar {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  list-style-type: none;
  margin-bottom: 2px;
  margin-right: 2px;
}

.navbar li a {
  text-decoration: none;
  color: #403f3d;
}

.logo-menu {
  margin: 18px 36px 0;
  display: flex;
  justify-content: space-between;
}

.menu-cup {
  gap: 8px;
  display: flex;
  align-items: center;
  margin-right: 4px;
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.menu-cup p {
  font-size: 30px;
}

img[alt="coffee-cup"] {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
}

img[alt="logo"] {
  margin-top: 2px;
  margin-left: 4px;
  width: 100px;
  height: 85px;
}
